* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
}
header {
  background-image: url(imgs/bg-pattern-intro.svg),
    linear-gradient(110deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%) 80%);
  background-size: 2000px 2000px, auto;
  background-position: 10% 50%;
  background-repeat: no-repeat, no-repeat;
  height: 450px;
  position: relative;
  border-radius: 0 0 0 80px;
}
.header-img {
  position: relative;
  background-clip: content-box;
}
.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 1px;
  margin-left: 6px;
}
.down {
  transform: rotate(45deg);
}

nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.logo {
  margin-right: 40px;
}
.container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.main-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  background-color: transparent;
  font-size: 12px;
  margin: 0;
}
a {
  text-decoration: none;
  font-family: "ubuntu", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.drop-down {
  display: inline-block;
  padding: 10px;
  position: relative;
}
.drop-down-content {
  display: none;
  background-color: white;
  position: absolute;
  border: 1px solid transparent;
  border-radius: 3px;
  width: 120px;
  text-align: center;
}
.drop-down-content li {
  list-style: none;
  margin: 20px 10px;
}
.drop-down-content li a {
  color: black;
}
.drop-down a {
  color: white;
}
.drop-down-content a:hover {
  font-weight: bold;
}
.drop-down:hover .drop-down-content {
  display: block;
}
.btn-container {
  margin-top: 20px;
}
.login-btn {
  border: 0 solid transparent;
  border-radius: 60%;
  padding: 5px 30px;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-family: "ubuntu", sans-serif;
}
.sign-up-btn:hover {
  background-color: rgba(230, 111, 131, 0.719);
  font-weight: bold;
  color: white;
  transition: 0.3s;
}
.login-btn:hover {
  font-weight: bold;
  transition: 0.2s;
}
.sign-up-btn {
  border: 0 solid transparent;
  border-radius: 35px;
  padding: 10px 30px;
  background-color: white;
  color: rgb(168, 78, 93);
  cursor: pointer;
  font-family: "ubuntu", sans-serif;
  font-weight: bold;
  font-size: 16px;
  width: 125px;
}
.header-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  font-family: "Overpass", sans-serif;
  margin-top: 90px;
}
.header-text h5 {
  margin-top: 10px;
}
.btn-container-2 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}
.start-free-btn {
  border: 0 solid transparent;
  border-radius: 50px;
  padding: 10px 15px;
  background-color: white;
  color: rgb(168, 78, 93);
  cursor: pointer;
  font-family: "ubuntu", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.start-free-btn:hover {
  background-color: rgb(247, 130, 150);
  font-weight: bold;
  color: white;
  transition: 0.3s;
}
.learn-more-btn {
  border: 2px solid;
  border-color: white;
  border-radius: 50px;
  padding: 10px 15px;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-family: "ubuntu", sans-serif;
  font-weight: bold;
  font-size: 16px;
  width: 130px;
}
.learn-more-btn:hover {
  background-color: white;
  font-weight: bold;
  color: rgb(235, 149, 163);
  transition: 0.3s;
}

main {
  margin-top: 50px;
}
.first-section {
  overflow-x: hidden;
}
.first-section h2 {
  font-family: "Overpass", sans-serif;
  color: rgb(29, 52, 97);
  text-align: center;
}
.first-section h3 {
  font-family: "Overpass", sans-serif;
  color: rgb(29, 52, 97);
  margin: 70px 10px 20px 180px;
}
.intro-txt,
.robust-txt {
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  text-align: justify;
  margin-left: 180px;
  width: 500px;
}
.illustration-desktop-img {
  float: right;
  width: 600px;
  height: 600px;
  display: flex;
  position: relative;
  right: -170px;
  top: -30px;
}
.second-section {
  display: grid;
  grid-template-columns: 500px 800px;
  margin-top: 30px;
  background: url(imgs/bg-pattern-circles.svg),
    linear-gradient(110deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%) 80%);
  background-repeat: no-repeat;
  background-size: 700px 700px, cover;
  background-position: 3% 95%;
  height: 340px;
  position: relative;
  border-radius: 0 80px 0 80px;
}
.mobile-txt {
  margin: 90px 200px;
  height: 350px;
}
.mobile-img {
  float: left;
  width: 500px;
  height: 500px;
  position: relative;
  top: -65px;
  left: 100px;
}
.second-section h2 {
  font-family: "Overpass", sans-serif;
  color: white;
  text-align: left;
  margin-bottom: 25px;
}
.second-section p {
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  text-align: justify;
  color: white;
}
.third-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 150px;
  background-color: white;
  height: 500px;
}
.laptop-img {
  float: left;
  width: 600px;
  position: relative;
  left: -169px;
}
.free-open-txt {
  margin-top: 70px;
  width: 500px;
}
.free-open-txt h2,
p {
  font-family: "Overpass", sans-serif;
  color: rgb(29, 52, 97);
  text-align: left;
}
.free-open-txt h2 {
  margin-bottom: 25px;
}
.free-open-txt p {
  margin-bottom: 70px;
}
footer {
  background-color: hsl(240, 10%, 16%);
  height: 300px;
  margin-top: 60px;
  border-radius: 0 80px 0 0;
}
.logo-footer {
  margin: 50px 100px;
}
.footer-list {
  font-family: "Overpass", sans-serif;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 400px;
  top: -100px;
  width: 700px;
}
.product-list {
  list-style: none;
}
.product-list a {
  color: hsl(240, 2%, 79%);
}
.product-list li {
  margin-bottom: 10px;
}
.product-list a:hover {
  text-decoration: underline;
}
.product {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  margin-bottom: 40px;
}

.company-list {
  list-style: none;
}
.company-list a {
  color: hsl(240, 2%, 79%);
}
.company-list li {
  margin-bottom: 10px;
}
.company-list a:hover {
  text-decoration: underline;
}
.company {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  margin-bottom: 40px;
}

.Connect-list {
  list-style: none;
}
.Connect-list a {
  color: hsl(240, 2%, 79%);
}
.Connect-list li {
  margin-bottom: 10px;
}
.Connect-list a:hover {
  text-decoration: underline;
}
.Connect {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  margin-bottom: 40px;
}
